
{% extends 'main.html'%}
{% load static %}
{% block content %}
    <div class="container">
        <div class="box-formm">
            <div class="leftt">
                <div class="overlay">
                    <img src="{% static 'images/loginpic.jpg' %}">
                </div>
            </div>
            <div class="right">
                <h5>{{type}} Login</h5>
                <p>Don't have an account? <a href="#">Create Your Account</a> it takes less than a minute</p>
                <form action="" method='POST'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="user">Username</label>
                        <input type="text" class="form-control form-control-lg" id="user" placeholder="abc@xyz.com" name='username'>
                    </div>
                    <br>
                    {% if type == 'Student' %}
                        <div class="form-group">
                            <label for="Rollno">Roll-No.</label>
                            <input type="text" class="form-control form-control-lg" name="Rollno" id="Rollno" placeholder="Rollno">
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="Tr.No.">Faculity number</label>
                            <input type="text" class="form-control form-control-lg" name="Tr_no" id="Tr.No." placeholder="Faculity number">
                        </div>
                    {% endif %}
                    <br>
                    {% if type == 'Student' %}
                    <div class="form-group">
                        <label for="PR">PR.Number</label>
                        <input type="number" class="form-control form-control-lg" id="PR" placeholder="PR No.">
                    </div>
                    <br>
                    {% else %}

                    {% endif %}
                    
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control form-control-lg" id="password" name='password' placeholder="Password">            
                    </div>
                    <br>
                    <div class="remember-me--forget-password">
                        <label>
                            <input type="checkbox" name="item" >
                            <span class="text-checkbox">Remember me</span>
                        </label>
                        <p>forget password?</p>
                    </div>
                    <br>
                    <div class="form-group abcd">
                        <input type="submit" class="form-control" id="email" placeholder="Login">
                    </div>
                </form>
            </div>
            
        </div>
    </div>
{% endblock content %}

