{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class='col-2'>
    </div>
    <div class="col-8">
        <div class="card bg-light">
            <div class="card-body">
                <h2>Dbms Marks</h2>
            </div>


            <form action="" method="POST">
                {% csrf_token %}
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <th class="col-2">Name</th>
                            <th class='col-2'>Remove<th>
                            <th class="col-2">IT-I</th>
                            <th class="col-2">IT-II</th>
                            <th class="col-2">IT-III</th>
                            <th class='col-2'>Avg</th>
                        </tr>
                        <tr>
                            <td class="col-2">shaun</td>
                            <td class='col-2'><a href=""><button type="button" class="btn btn-danger">Delete</button></a></td>
                            <td class="col-2"><input type="number" max="25" value=19></td>
                            <td class="col-2"><input type="number" max="25" value=19></td>
                            <td class="col-2"><input type="number" max="25" value=19 ></td>
                            <td class="col-2">19</td>
                            
                        </tr>
                        <tr>
                            <td class="col-2">varun</td>
                            <td class='col-2'><a href=""><button type="button" class="btn btn-danger">Delete</button></a></td>
                            <td class="col-2"><input type="number" max="25" value=19></td>
                            <td class="col-2"><input type="number" max="25" value=19></td>
                            <td class="col-2"><input type="number" max="25" value=19 ></td>
                            <td class="col-2">19</td>
                            
                        </tr>
                        <tr>
                            <td class="col-2">popnil</td>
                            <td class='col-2'><a href=""><button type="button" class="btn btn-danger">Delete</button></a></td>
                            <td class="col-2"><input type="number" max="25" value=19></td>
                            <td class="col-2"><input type="number" max="25" value=19></td>
                            <td class="col-2"><input type="number" max="25" value=19 ></td>
                            <td class="col-2">19</td>
                            
                        </tr>
                        <tr>
                            <td class="col-2">shaina</td>
                            <td class='col-2'><a href=""><button type="button" class="btn btn-danger">Delete</button></a></td>
                            <td class="col-2"><input type="number" max="25" value=19></td>
                            <td class="col-2"><input type="number" max="25" value=19></td>
                            <td class="col-2"><input type="number" max="25" value=19 ></td>
                            <td class="col-2">19</td>
                            
                        </tr>
                    </tbody>
                </table>
                <input type="submit">
            </form>
            <br>
        </div>
    </div>
</div>


{% endblock content %}