{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-3">
        <div class="card bg-light">
            <div class="card-body box-profile">
                <div class="profile-stdent">
                    <img class="profile-stdent-img" src="{% static 'images/unnamed.jpg' %}" alt="User profile picture">
                </div>
                <h3 class="profile-username text-center">Shaun pereira</h3>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Admission No: </b> <span class="pull-right"><p>18001</p></span>
                    </li>
                    <li class="list-group-item">
                        <b>Roll Number: </b> <span class="pull-right"><p>20CE57</p></span>
                    </li>
                    <li class="list-group-item">
                        <b>Class: </b> <span class="pull-right"><p>TEcomp</p></span>
                    </li>
                    <li class="list-group-item">
                        <b>Section: </b> <span class="pull-right"><p>B2-P4</p></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class='col-9'>
        <div class="card bg-light">
            <div class="card-body">
                <div class="card bg-light">
                    <div class="card-body">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                            <a class="nav-link" href="#">Profile</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href=".exam">Subjects</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Attendance</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#" >Fees</a>
                            </li>
                        </ul>
                    </div>
                    <div class="datapro">
                        <div class="profile">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    <tr>
                                        <td class="col-md-4">Date of enrollement</td>
                                        <td class="col-md-5">03/18/2021</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">trNumber</td>
                                        <td class="col-md-5">235333</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Department</td>
                                        <td class="col-md-5">Computer</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">education</td>
                                        <td class="col-md-5">M.Tech</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Mobile NO</td>
                                            <td class="col-md-5">34222145124</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Email</td>
                                        <td class="col-md-5">admin@admin.com</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">address</td>
                                        <td class="col-md-5">abc neart bcd goa</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class='subjects'>
                            <h3>Subjects</h3>
                            <table class="table table-hover table-striped">
                                <tbody>
                                    <tr>
                                        <td class="col-md-4">Subject name</td>
                                        <td class="col-md-4">No.of.Students</td>
                                        <td class="col-md-4">Average score</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Database Management system</td>
                                        <td class="col-md-4">90</td>
                                        <td class="col-md-4">80</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Database Management system lab</td>
                                        <td class="col-md-4">45</td>
                                        <td class="col-md-4">90</td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">operating system</td>
                                        <td class="col-md-4">90</td>
                                        <td class="col-md-4">85</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class='marks'>
                            <h3>Enter Marks</h3>
                            <table class="table table-hover table-striped">
                                <tbody>
                                    <tr>
                                        <td class="col-md-4">Database Management system</td>
                                        <td class="col-md-7"><a href="{% url 'marks' %}"><button type="button" class="btn btn-primary">Enter</button></a></td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">Database Management system lab</td>
                                        <td class="col-md-7"><a href=""><button type="button" class="btn btn-primary">Enter</button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4">operating system</td>
                                        <td class="col-md-7"><a href=""><button type="button" class="btn btn-primary">Enter</button></a></td>
                                    </tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


{% endblock content %}