{% load static %}
<footer class="bd-footer py-5 mt-5 abc">
    <div class="container">
        <div class="row inside">
            <div class="col-3">
                <a href="/" class="flogo"><img src= "/images/picc_dr.png" alt="symbol"> 
                </a>
                <p>Build with love by<br> Shaun,
                    Varun and swapnil Kirloskar</p>
            </div>
            <div class="col-3">
                <h4>Address</h4>
                <p>
                    The Principal,<br>
                    Padre Conceição College Of Engineering,<br>
                    Agnel Technical Education Complex,<br>
                    Agnelganv,<br>
                    Verna Goa, 403722, INDIA
                </p>
            </div>
            <div class="col-3">
                <h4>Links</h4>
                <ul>
                    <li class="mb-2"><a href="">Fees</a></li>
                    <li class="mb-2"><a href="">Addmission</a></li>
                    <li class="mb-2"><a href="">Result</a></li>
                    <li class="mb-2"><a href="">Photo album</a></li>
                    <li class="mb-2"><a href="https://www.unigoa.ac.in/">Goa university</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h4>Contact Us</h4>
                <ul>
                    <li class="mb-2">Phone: 8408980208</li>
                    <li class="mb-2">Email: svsuni2022@gmail.com</li>
                    <li class="mb-2">Insta: @svsuni</li>
                    <li class="mb-2">Youtube: svsuni</li>
                   
                </ul>
            </div>
        </div>
    </div>
</footer>